.dark {
  background-color: black;
  color: white;
}
.hidden {
  display: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 48px;
  font-family: "Tangerine", cursive;
}
p {
  font-size: medium;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
img {
  height: 175px;
  width: 175px;
}
.fetchIcon:hover {
  animation-duration: 2s;
  animation-iteration-count: none;
  transform-origin: bottom;
}
.bounce-button:hover {
  animation-name: bounce-arrow;
  animation-timing-function: ease-in-out;
}
@keyframes bounce-arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.centred-content {
  display: block;
  margin: auto;
}
