body {
  background-image: url("https://asandahdevs.github.io/newsFetcher.github.io/Founding_fathers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hidden {
  display: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 48px;
  font-family: "Tangerine", cursive;
}
p {
  font-size: medium;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
img {
  height: 175px;
  width: 175px;
}
.fetchIcon:hover {
  animation-duration: 2s;
  animation-iteration-count: none;
  transform-origin: bottom;
}
.bounce-button:hover {
  animation-name: bounce-arrow;
  animation-timing-function: ease-in-out;
}
@keyframes bounce-arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.centred-content {
  display: block;
  margin: auto;
}

button {
  border-radius: 3rem !important;
}

input.form-control {
  width: 300px;
}

form {
  border: none;
  padding: 0;
}

input {
  width: 260px;
  border: 2px solid lightblue;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 250px center;
}
